.c-wiki-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 15;
  transform: translateZ(3em);
}
.c-wiki-modal {
  &--content{
      width: 80vw;
      height: 80vh;
      position: absolute;
      top: 10vh;
      left: calc(10vw - 20px);
      background-color: c('brown-melon');
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      h2 {
        font-family: 'Pieces of Eight';
        margin-block-start: 0px;
        margin-block-end: 20px;
      }
      

      .menu-content {
        background-color: c('medium-brown');
        width: 100%;
        flex-direction: column;
        height: calc(80vh - 50px);
        display: flex;

        .slides{
          width: 100%;
          display: flex;
          flex-direction: row;
          height: auto;
          overflow: auto;

          .op-slide{
            min-width: 120px;
            padding: 10px;
            font-family: 'FantaisieArtistique';
            font-size: 20px;
            border: 1px solid black;
            border-left: 0;
            border-bottom: 0;
            cursor: pointer;
            text-align: center;

            &.selected {
              color: c('other-medium-brown');
              background-color: c('chicken-tenders');
            }

            &:first-child{
              border-top: 1px solid black;
            }
          }
        }

        .op-content {
          border: 1px solid black;
          width: calc(100% - 30px);
          height: calc(100% - 31px);
          padding: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'FantaisieArtistique';
          gap: 15px;
          overflow: auto;
          text-align: center;

          .mobile-combat-stats {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .state-head {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              .img-comb-stat {
                width: 30px;
                height: 30px;
              }
              span {
                text-decoration: underline;
              }
            }

          }

          .combat-stats-wrap {
            width: 80%;
            display: none;
            border-collapse: collapse;

            td {
              border: 1px solid c('chickpeas');
              padding: 6px 10px;

              .img-comb-stat {
                margin: auto;
                width: 30px;
                height: 30px;
              }
            }
          }

          .weapons-flex {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 40px;
            align-items: center;

            .img-container {
              min-width: 100%;
              max-width: 100%;


              img {
                width: 100%;
                object-fit: contain;
              }
            }

            .weapons-op {
              display: flex;
              flex-direction: column;
              text-align: start;
              gap: 20px;
            }
          }

          .char-options-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            justify-content: space-between;

            .char-wrap {
              display: flex;
              flex-direction: column;
              width: 100%;
              align-items: center;
              gap: 10px;

              .stats-wrap {
                display: flex;
                gap: 20px;

                .stat-wrap {
                  display: flex;
                  align-items: center;
                  gap: 5px;

                  .big {
                    font-size: 20px;
                    font-weight: 600;
                  }

                  .icon-stat {
                    width: 20px;
                    height: 20px;

                    &.big {
                      width: 24px;
                      height: 24px;
                    }
                  }
                }
              }

              .img-char {
                height: 250px;
                object-fit: contain;
              }
            }
          }

          h2 {
            font-size: 22px;
            font-family: 'FantaisieArtistique';
            text-decoration: underline;
            margin-block-end: 0;
            margin-block-start: 0;
          }

          .extra-margin {
            margin-top: 15px;
            margin-bottom: 15px;
          }

          .flex-stat {
            display: flex;
            width: 100%;
            gap: 20px;
            align-items: center;

            .stat-wrap {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              width: 45%;
              margin: auto;
  
              .stat-head {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 22px;
  
                .icon-stat {
                  height: 24px;
                  width: 24px;
                }
              }
            }
          }

          .note-wrap {
            margin-top: 10px;
            border-radius: 4px;
            padding: 5px 10px;
            border: 1px solid c('chickpeas')
          }
        }
      }
  }
  
}

@include large {
  @import'large';
}