.user-hud {
  position: absolute;
  bottom: 0;
  background-color: c('medium-brown');
  width: 100%;
  height: 200px;
}

.ul-list {
  font-family: 'FantaisieArtistique';
  font-size: 20px;

  .link {
    color: c('dark-brown');
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.disabled {
      color: gray;
      text-decoration: none !important;
      cursor: progress;
    }
  }
}