.shop-view {
  display: flex;
  flex-direction: column;

  h1 {
    margin-left: 20px;
    text-align: center;
  }
}

.c-shop {
  display: flex;
  width: 100%;
  gap: 20px;

  .option-details {
    position: absolute;
    width: 100px;
    background-color: blanchedalmond;
    z-index: 2;

    &.disabled {
        display: none;
    }

    .option-wrapper {
        font-family: 'FantaisieArtistique';
        cursor: pointer;
        border: 1px solid brown;
    }
  }

  .shop-options{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 30px;

    .table-wrapper {
      height: 250px;
      overflow: auto;

      table {
        border-collapse: collapse;
        border: 1px solid grey;
        width: 100%;
        margin-top: 5px;
  
        td, th {
            padding: 2px 6px;
            text-align: initial;
            border: 1px solid grey;
            font-family: 'FantaisieArtistique';
  
            &.maximize {
                width: 100%;
            }
  
            .icon-container {
                width: 15px;
                height: 15px;
            }

            .buttons-wrap {
              display: flex;
              gap: 5px;

              .button-icon {
                cursor: pointer;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: c('medium-brown');
                padding: 4px;

                &.disabled {
                  cursor: initial;
                  background-color: #e2e2e2;
                }
              }
            }
        }
  
        tr {
            background-color: c('chicken-feet');
  
            &.disabled {
              background-color: lightgray !important;
              color: gray;
            }
            
            &:hover {
                background-color: c('chicken-liver');
            }
            
            &:nth-child(even) {
                background-color: c('chicken-drumstick');
  
                &:hover {
                    background-color: c('chicken-liver');
                }
            }
                
  
        }
      }
    }
  }

  .shop-img {
    width: 45%;
    overflow: hidden;

    img {
      height: 320px;
      width: 100%;
      object-fit: cover;
    }
  }
}