.c-shop {
  display: flex;
  width: 100%;
  gap: 20px;

  .option-details {
    position: absolute;
    width: 100px;
    background-color: blanchedalmond;

    &.disabled {
        display: none;
    }

    .option-wrapper {
        font-family: 'FantaisieArtistique';
        cursor: pointer;
        border: 1px solid brown;
    }
  }

  .shop-options{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 30px;

    table {
      border-collapse: collapse;
      border: 1px solid grey;
      width: 100%;
      margin-top: 5px;

      td, th {
          padding: 2px 6px;
          text-align: initial;
          border: 1px solid grey;
          cursor: pointer;
          font-family: 'FantaisieArtistique';

          &.maximize {
              width: 100%;
          }

          .icon-container {
              width: 15px;
              height: 15px;
          }
      }

      tr {
          background-color: c('chicken-feet');

          &.disabled {
            background-color: lightgray !important;
            color: gray;
          }
          
          &:hover {
              background-color: c('chicken-liver');
          }
          
          &:nth-child(even) {
              background-color: c('chicken-drumstick');

              &:hover {
                  background-color: c('chicken-liver');
              }
          }
              

      }
    }
  }

  .shop-img {
    width: 45%;
    overflow: hidden;

    img {
      height: 320px;
    }
  }
}