.story-swipe {
  display: flex;

  .page-swipe-animation {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;

    .black-background {
      width: 100vw;
      height: 100vh;
      position: absolute;
      background-color: black;
      display: none;
      font-size: 30px;
      color: white;
      opacity: 0;
      display: none;
      align-items: center;
      justify-content: center;
      transition: opacity 1s ease-in;

      .inmerse-text {
        opacity: 0;

        &.ani-fade-in {
          animation: EaseIn 1s;
          animation-fill-mode: forwards;
        }
      }

      &.ani-fade-in {
        display: flex;
        animation: EaseIn 1s;
        animation-fill-mode: forwards;
      }
    }
  }
  
  .page {
    width: 100vw;
    height: calc(100vh - 50px);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  }
  
  .front, .back {
    width: 80%;
    height: 74vh;
    position: absolute;
    top: 5vh;
    left: 5%;
    padding: 4vh 4%;
    background-color: c('chickpeas');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    color: white;
    text-align: center;
    font-family: 'FantaisieArtistique';

    .link {
      font-size: 24px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .background-img {
      width: 60%;
    }
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  .swiped .page {
    transform: rotateY(-180deg);
  }
}

.pages {
  padding: 40px;
  height: calc(100vh - 80px - 80px - 160px);
  width: calc(100vw - 80px);
  overflow: hidden;
}

.book-page {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  user-select: none;
  touch-action: none;
  background-color: c('other-medium-brown');
  padding: 20px;
  gap: 20px;
  font-family: 'FantaisieArtistique';

  img {
    height: 200px;
    width: fit-content;
  }

  .op-choices {
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 30px;

    .link {
      color: c('dark-brown');
      cursor: pointer;
      width: fit-content;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.book-control-pages {
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 20px;
  background-color: c('medium-brown');
  right: 20px;
  gap: 10px;
  font-family: 'Pieces of Eight';

  button {
    cursor: pointer;
    font-family: 'FantaisieArtistique';

    &.disabled {
      cursor: not-allowed;
    }
  }
}

@keyframes EaseIn {
  from {opacity: 0;}
  to {opacity: 1;}
}