.enemy-hud {
  display: flex;
}

.battle-header{
  display: flex;
  align-items: center;
  gap: 30px;

  .link {
    color: c('dark-brown');
    cursor: pointer;
    font-family: 'FantaisieArtistique';
    font-size: 20px;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }
}

.current-op {
  display: flex;
  border-top: 1px solid black;
  padding-top: 5px;

  .op-list {
    width: 50%;
  }

  .dice-wrapper {
    display: flex;
    width: 50%;
    margin-top: 20px;
    
    span {
      font-size: 30px;
    }
  }
}

.e-dice-wrapper {
  display: flex;
  position: absolute;
  left: 400px;
  top: 270px;

  span {
    font-size: 30px;
  }
}