.enemy-hud {
  display: flex;
  margin-top: 10px;
}

.battle-page {
  height: calc(100vh - 162px - 50px);
  width: 100%;
  overflow: auto;

  .battle-enemy{
    display: flex;
    flex-direction: column;

    .battle-background {
      position: absolute;
      width: 100vw;
      height: calc(100vh - 162px - 50px);
      border-radius: 4px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.battle-header{
  position: absolute;
  display: none;
  z-index: 2;
  color: black;
  left: 40px;

  h1 {
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  }
}

.current-op {
  display: flex;
  position: absolute;
  bottom: 176px;
  justify-content: flex-end;
  width: 100%;

  .op-list {
    position: absolute;
    bottom: 0px;
    left: 0;
    margin-left: 20px;
    padding-right: 40px;
    border-radius: 4px;
    z-index: 2;
    background-color: c('other-medium-brown');
    color: white;
  }

  .dice-wrapper {
    display: flex;
    justify-content: center;
    background-color: rgba(c('other-medium-brown'), 0.85);
    padding: 10px 18px 8px 0;
    width: 150px;
    flex-wrap: wrap;
    border-radius: 8px;
    margin-right: 8px;
    z-index: 2;
    margin-top: 4px;
    
    span {
      font-size: 30px;
    }
  }
}

.e-dice-wrapper {
  display: flex;
  position: absolute;
  right: 8px;
  bottom: 300px;
  background-color: rgba(c('other-medium-brown'), 0.85);
  padding: 10px 18px 8px 0;
  border-radius: 8px;
  z-index: 2;


  span {
    font-size: 30px;
  }
}

@include medium {
  @import'medium';
}

@include large {
  @import'large';
}