.button{
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  padding-right: 15px;
  font-family: 'FantaisieArtistique';
  font-size: 24px;
  background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  transition: 0.3s;
  border: 1px solid grey;
  width: 250px;
  color: white;
  cursor: pointer;
}
.button:hover{
  background-color: black;
}