.c-modal-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    z-index: 13;
}
.c-modal {
    background-color: c('medium-brown');
    width: 86vw;
    height: 75vh;
    position: fixed;
    left: calc(7vw - 10px);
    top: 12.5vh;
    z-index: 15;
    padding: 10px;
    display: flex;
    justify-content: center;
    &--cross{
        width: 30px;
        position: absolute;
        right: 12px;
        top: 12px;
        z-index: 5;
        background-color: rgba(255,255,255,0.5);
        border-radius: 50%;
        cursor: pointer;
    }
    &--content{
        overflow: auto;
        height: 100%;
        p{
            font-size: 20px;
        }
        h3{
            font-size: 22px;
        }
    }
    &--inventory{
        overflow: auto;
        height: 100%;
        width: 94%;

        .user-statistics {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
        
            .char-stat {
              display: flex;
              gap: 15px;
              font-family: 'Pieces of Eight';
              font-size: 24px;
            }
        
            .char-stat:not(:first-child) {
              margin-left: 10px;
            }
        }

        p{
            font-size: 20px;
        }
        h1{
            text-align: center;
        }

        .obj-list {
            margin-top: 20px;
            height: 130px;
            overflow: auto;
        }

        .pj-table {
            border-collapse: collapse;
            border: 1px solid grey;
            width: 100%;

            td, th {
                padding: 2px 6px;
                text-align: initial;
                border: 1px solid grey;
                cursor: pointer;
                font-family: 'FantaisieArtistique';

                &.char-icon {
                    width: 20px;
                    height: 20px;
                }
            }

            tr {
                background-color: c('chicken-feet');
                
                &:hover {
                    background-color: c('chicken-liver');
                }
                
                &:nth-child(even) {
                    background-color: c('chicken-drumstick');

                    &:hover {
                        background-color: c('chicken-liver');
                    }
                }
                    

            }
        }
    }
}


  
  @include medium {
      @import'medium';
  }
  @include large {
      @import'large';
  }